*.pyc
.vscode
output*/
build
__pycache__
tensorboard_3d
screenshots
debug/
gaussian_renderer/__pycache__
scene/__pycache__
utils/__pycache__
*.egg-info
debug*
dtu_eval/Offical_DTU_Dataset
train*.sh
submodules/diff-gaussian-rasterization-org
snapshot_fw.dump
snapshot_bw.dump
train_test_depth.py
average_metric_tnt.py
average_metric_dtu.py
.cache
*.ncu-rep
sass.txt
output_camera.py
reload_depth.py
generate_iteration.py
experiment_tools/
profile.sh
CMakeCache.txt
cmake.check_cache
blender_scripts/
.clangd
twodgs/
threedgs/
.paper/
twodgs_split/
FastGS/
timinggs/
fastgscustom-main/
minisplat/
kiri_angelo/
pi3*