[submodule "vggt"]
	path = vggt
	url = https://github.com/facebookresearch/vggt.git
[submodule "RoMaV2"]
	path = RoMaV2
	url = git@github.com:ChenYutongTHU/RoMaV2.git
[submodule "Pointcept"]
	path = Pointcept
	url = git@github.com:ChenYutongTHU/Pointcept.git
[submodule "RoMa"]
	path = RoMa
	url = git@github.com:Parskatt/RoMa.git
